* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}
body {
   background: black;
   color: #222;
}
/* Get rid of the focus highlight on the canvas. */
:focus {
    outline: none;
}
/* We can style a default gjs-loader. */
#gjs-loader {
    width: 100%;
    height: 100%;
}
#gjs-loader-message {
    margin: -1em 0 0 0;
    padding: 0;
    position: relative;
    top: 50%;
    text-align: center;    
}
/* The underlying code, thankfully, seems immune to the placement of the
   canvas element on the page, so style away. */
#gjs-canvas {
    display: block;
    margin: 2em auto;
    border: 1px solid #ddd;
}


#score {
    width: 600px;
    margin: 0 auto;
}


